[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asn1crypto = "==0.24.0"
beautifulsoup4 = "==4.6.0"
chardet = "==3.0.4"
cryptography = "==2.1.4"
django-webpack-loader = "==0.7.0"
djangorestframework = "==3.10.3"
enum34 = "==1.1.6"
html5lib = "==0.999999999"
idna = "==2.6"
ipaddress = "==1.0.17"
keyring = "==10.6.0"
"keyrings.alt" = "==3.0"
lxml = "==4.2.1"
mysql-connector-python = "==2.1.6"
mysql-utilities = "==1.6.4"
mysqlclient = "==1.4.6"
numpy = "==1.13.3"
paramiko = "==2.0.0"
pexpect = "==4.2.1"
pyasn1 = "==0.4.2"
pycrypto = "==2.6.1"
pycurl = "==7.43.0.1"
pyliblzma = "==0.5.3"
pyodbc = "==4.0.17"
pysqlite = "==2.7.0"
python-xlib = "==0.26"
pytz = "==2019.3"
pyxdg = "==0.25"
rpm = "==4.14.1"
scour = "==0.36"
shiboken2 = "==5.14.0"
six = "==1.13.0"
urlgrabber = "==3.10.2"
webencodings = "==0.5"
yum-metadata-parser = "==1.1.4"
Django = "==1.11.29"
PyGObject = "==3.26.1"
PySide2 = "==5.14.0"
SecretStorage = "==2.3.1"
django-rest-framework = "*"

[requires]
python_version = "3.7"
