.deck-detail-container{
    margin: 10em;
}
.deck-title{
    font-size: 5em;
}
.deck-thumbnails{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.card-thumbnail{
    
    background: transparent!important;
    border-radius: 10px;
    height: 23em;    
    width: 14em;
}
.card-thumbnail-quantity{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 900;
}
.card-quantity-button .MuiButton-root{    
    min-width: 20px;
}
.card-quantity-button{
    margin: 0 1em!important;
}
.card-thumbnail img{
    -webkit-box-shadow: 3px 0px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 15px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 15px -5px rgba(0,0,0,0.75);    
    background: transparent!important;
    height: 20em;    
}