.deck-detail-container{
 
}
.deck-title{
    font-size: 5em;
}
.deck-thumbnails{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.card-thumbnail{
    
    background: transparent!important;
    border-radius: 10px;
    height: 23em;    
    width: 14em;
}
.card-thumbnail-quantity{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 900;
}
.card-quantity-button .MuiButton-root{    
    min-width: 20px;
}
.card-quantity-button{
    margin: 0 1em!important;
}
.card-thumbnail .img-container img{
    -webkit-box-shadow: 3px 0px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 15px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 15px -5px rgba(0,0,0,0.75);    
    background: transparent!important;
    height: 20em;   
    width: 224px;
}
.description-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 3em;
}
.description-container-right{
    display: flex;
    justify-content: flex-end;
}
.description-text{
    font-style: italic;
}
.chart-container{
width: 100%;
margin: 4em 0;
padding: 4em 0;
background-color: #252525;
box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.3);
}
.centralized-container{
    margin: 10em;
}
.new-deck-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em; 
}
.deck-name-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.deck-name-container input{
    font-size: 4em;
}
.deck-avatar-container{
    margin: 1em;
    display: flex;
    flex-direction: column;
}
.avatar-thumbnails-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.avatar-thumbnail{
    width: 15%;
    display: flex;
    margin: 1em;
    background-color: transparent;

    border-radius: 5px;

}
.avatar-thumbnail img{
    border-radius: 5px;
    background-color: transparent;
    
}
.shadowed-div{
    -webkit-box-shadow: 36px 28px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 36px 28px 5px 0px rgba(0,0,0,0.75);
box-shadow: 36px 28px 5px 0px rgba(0,0,0,0.75);
}
.save-button-container{
    display: flex;
    justify-content: center;
    margin: 10em 0;
}