.card-details{
    display: flex;
    
    flex-direction: column;
}
.card-thumbnail-container{
    display: flex;
    justify-content: center;
}
.card {
    width: 35ch;
    height: 47ch;
    background: transparent;
    border-radius: 5px;   
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid rgba(255, 255, 255, 0.1);
    z-index: 9999!important;
  }
  
  .card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }

  .card-action-buttons{
      display: flex;
      align-items: baseline;
      justify-content: center;
      margin: 2em 0 0 0;
      z-index: 1;      
  }
  .action-button{
      margin: 10px!important;
  }

  .button-disabled{
      background-color: #aaa!important;
      color: #444!important;
  }
  .button-enabled{
      background-color: #3F51B5!important;
      color: white!important;
  }