.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:0 10em;    
}
.card-container{
    grid-column: 1fr;
    margin: 1em;
}
.deck-thumbnail{
    height: 10em!important;
}
.deck-container-title{
    font-size: 5em;
    grid-column: 1/-1;
}
.open-deck-button{
    margin: 1em;
    background-color: #E74D11!important;
    color: white!important;
}
.deck-add-new{
    grid-column: 1/-1;
    display: flex;
}
.MuiPaper-root{
    background-color: #262626!important;    
}
.MuiTypography-root{
    color: white!important;
}