@font-face{
    font-family: 'Quicksand';
    src: url('./Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face{
    font-family: 'Roboto';
    src: url('./Roboto-Thin.ttf') format('truetype');
}
.welcome-div{
 text-align: center;
 font-size: 3em;   
 padding: 1em 5em;
}